node_modules/

.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example
frontend/.env
frontend/.env.*

backend/frontend/Images/
backend/frontend/dist/

*.log
__pycache__/
*.pyc

backend/gcloud-credentials.json
node_modules/
**/node_modules/
